<!doctype html>
<html ng-app="2doApp">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Untitled</title>
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
		<link rel="author" href="humans.txt">
	</head>
	<body>
		<h2>Aufgaben</h2>
		<p>Suche: <input type="text" ng-model="search"></p>
		<div ng-controller="tasksOverviewCtrl">
			<table class="table" >
				<tr ng-repeat="task in tasks | filter:search" ng-style="task.finished == 'true' ? { 'text-decoration': 'line-through' } : { 'text-decoration': 'none' }">
					<td ><input ng-click="finished(task.id);" ng-show="task.type == 'check'"  type="checkbox" value=""></td>
					<td>{{task.name}}</td>
					<td>{{task.priority}}</td>
				</tr>
			</table>
		</div>
		<script src="javascripts/angular.min.js"></script>
		<script src="javascripts/bootstrap.min.js"></script>
		<script src="javascripts/jquery-2.2.3.min.js"></script>
		<script src="javascripts/main.js"></script>
	</body>
</html>